* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url(//db.onlinewebfonts.com/c/48656eabd3fef6464367d956315c749a?family=Electronic+Arts+Text);
@font-face {
  font-family: "Electronic Arts Text";
  src: url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot");
  src: url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.svg#Electronic Arts Text")
      format("svg");
}
footer {
  display: flex;
  flex-direction: row;
}
.last-part {
  width: 100%;
  height: 120vh;
}
.image {
  width: 100%;
  height: 45%;
  background-color: aqua;
}
@media screen and (max-width: 375px) {
  .image {
    width: 100%;
    height: 625px;
  }
  .hover p {
    text-align: flex-start;
  }
  .hover {
    position: absolute;
    right: 50px;
  }
  .hover svg {
    margin-right: 0px;
  }
  .bluePart {
    width: 100%;
    height: 212px;
  }
  .bluePart {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .leftBlue {
    grid-area: 1 / 1 / 2 / 2;
  }
  .rightBlue {
    grid-area: 2 / 1 / 3 / 2;
  }
  .leftBlue p {
    font-size: 10px;
  }
  .middlePart {
    width: 100%;
    height: 305px;
    flex-direction: row;
  }
  .end {
    width: 100%;
    height: 712px;
  }
}
.backGround {
  width: 100%;
  height: 45%;
}
.hover {
  position: absolute;
  left: 17%;
  top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hover p {
  color: white;
  font-weight: 500;
  font-size: 18px;
  font-family: "Electronic Arts Text";
}
.hover p:hover {
  transition: 0.3;
  transform: 0.3;
}
.hover button {
  color: white;
  font-weight: 500;
  font-size: 20px;
  border: 2px solid white;
  background-color: #67b0d6;
  padding: 15px;
  border-radius: 4%;
  margin-left: 10px;
}
.hover svg {
  margin-right: 30px;
}
.hover button {
  margin-right: 60px;
  margin-top: 20px;
}
.bluePart {
  width: 100%;
  height: 10%;
  background-color: #67b0d6;
  display: flex;
  justify-content: center;
}
.bluePart p {
  color: black;
  font-weight: 500;
  font-size: 30px;
  font-family: "Electronic Arts Text";
}
.rightBlue {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.bluePart button {
  color: black;
  font-weight: 500;
  font-size: 20px;
  border: 2px solid black;
  background-color: #67b0d6;
  padding: 15px;
  border-radius: 4%;
  margin-top: 20px;
}
.leftBlue {
  width: 31%;
  height: 100%;
  background-color: #67b0d6;
  display: flex;
  align-items: center;
}
.rightBlue {
  width: 31%;
  height: 100%;
  background-color: #67b0d6;
}
.middlePart {
  width: 100%;
  height: 20%;
  background-color: #f3f3f3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.leftLinks {
  width: 50%;
  height: 50%;
  background-color: #f3f3f3;
  display: flex;
}
.leftLinks ul {
  display: flex;
  padding: 20px;
  padding-left: 15%;
  gap: 50px;
}
.leftLinks ul li {
  list-style: none;
}
.leftLinks ul li a {
  text-decoration: none;
  font-size: medium;
  color: black;
}
.leftLinks ul li a:hover {
  color: red;
  transition: 0, 3s;
}
.rightLinks {
  width: 31%;
  height: 50%;
  background-color: #f3f3f3;
  padding: 20px;
  padding-left: 170px;
}
.rightLinks p {
  padding-bottom: 10px;
  padding-left: 50px;
}
.rightLinks svg {
  width: 28px;
  height: 28px;
  margin-right: 20px;
}
.end {
  width: 100%;
  background-color: white;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionLinks {
  width: 70%;
  height: 80%;
  background-color: rgb(255, 255, 255);
}
.parent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 7fr 6fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 30px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
}
.div1 img {
  width: 50px;
  height: 50px;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
}
.div2 span {
  padding: 30px;
  padding-top: 20px;
}
.divt1 {
  padding-top: 10px;
}
.divt4 {
  padding-top: 30px;
}

.div2 ul li {
  list-style: none;
}
.div2 ul li a {
  text-decoration: none;
  color: black;
}
.div3 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  padding-left: 35px;
}
.div3 ul li {
  list-style: none;
}
.div3 ul li a {
  text-decoration: none;
  color: black;
}
.div4 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
}
.div9 {
  padding-top: 10px;
}
.div10 {
  padding-top: 10px;
}
.div12 {
  padding-top: 10px;
}
.div4 button {
  padding: 20px;
}
.button1 {
  margin-right: 30px;
}
.button2 {
  margin-right: 70px;
  padding: 20px;
}

.div5 {
  grid-area: 2 / 3 / 3 / 4;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
