* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @import url(//db.onlinewebfonts.com/c/48656eabd3fef6464367d956315c749a?family=Electronic+Arts+Text);
  @font-face {
    font-family: "Electronic Arts Text";
    src: url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot");
    src: url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.svg#Electronic Arts Text")
        format("svg");
  }
}
.lastPart {
  width: 100%;
  height: 100vh;
}
.backgroungImg {
  position: relative;
  max-width: 100%;
  height: auto;
}
.hover {
  position: absolute;
  top: 10%;
  padding: 20px;
  left: 20%;
}
.img_button {
  background: local;
  padding: 20px;
  color: #ffff;
  border: 1px solid #fff;
}
.hover p {
  color: white;
  font-weight: 500;
  font-size: 30px;
  font-family: "Electronic Arts Text";
  &:hover {
    transition: 0.3;
    transform: 0.3;
  }
}
.blueP {
  width: 100%;
  height: 13%;
  background-color: #67b0d6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -4px;
}
.blueP p {
  color: black;
  font-weight: 500;
  font-size: 30px;
  margin-right: 220px;
  font-family: "Electronic Arts Text";
}
.blueP button {
  color: black;
  font-weight: 500;
  font-size: 20px;
  border: 2px solid black;
  background-color: #67b0d6;
  padding: 15px;
  border-radius: 4%;
  margin-left: 210px;
}
.footerLinks {
  width: 100%;
  height: 20%;
  position: relative;
  top: -4px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footerLinks ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px;
  padding-left: 20%;
  padding-bottom: 10%;
  gap: 20px;
}
.footerLinks ul li {
  list-style: none;
  color: black;
}
.footerLinks ul li a {
  text-decoration: none;
  font-size: medium;
  color: black;
  font-family: "Electronic Arts Text";
  &:hover {
    color: red;
    transition: 0, 3s;
  }
}
.svgIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footerLinksImages {
  padding: 40px;
  padding-right: 21%;
}
.footerLinksImages h3 {
  font-size: medium;
  font-family: "Electronic Arts Text";
}
.footerLinksImages svg {
  height: 28px;
  width: 28px;
  display: flex;
  padding-top: 2%;
}
.eaImg {
  padding-right: 25px;
}
.eaImg img {
  width: 64px;
  height: 64px;
}
.footerEnd {
  width: 100%;
  height: 30%;
}
.flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .eaFooter {
    grid-area: 1 / 1 / 2 / 2;
  }
  .buttons {
    grid-area: 1 / 2 / 2 / 3;
  }
  .baseSection {
    grid-area: 2 / 1 / 3 / 2;
  }
  .test {
    grid-area: 2 / 2 / 3 / 3;
  }
}

.eaFooter ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .div4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div6 {
    grid-area: 2 / 3 / 3 / 4;
  }
  .div7 {
    grid-area: 1 / 4 / 3 / 5;
  }
}
.eaFooter ul li {
  list-style: none;
}
.eaFooter ul li a {
  text-decoration: none;
  font-family: "Electronic Arts Text";
  color: black;
  font-size: 15px;
}
.baseSection ul {
  list-style: none;
  & a {
    text-decoration: none;
    color: black;
    font-family: "Electronic Arts Text";
    font-size: 15px;
  }
}
.baseSection ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .div7 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div8 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div9 {
    grid-area: 2 / 1 / 3 / 3;
  }
  .div10 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div11 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .div12 {
    grid-area: 4 / 1 / 5 / 3;
  }
}
.wrap {
  display: flex;
  justify-content: center;
  padding: 3%;
  
}
.test {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 100px;
}
.buttons{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  & button{
    padding: 20px;
  }
  & .button1{
    margin-right: 40px;
  }
  
}
