@import url(//db.onlinewebfonts.com/c/48656eabd3fef6464367d956315c749a?family=Electronic+Arts+Text);
  @import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

 /*  @font-face {
  font-family: "Electronic Arts Text";
  src: url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot");
  src: url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.svg#Electronic Arts Text")
      format("svg");
}   */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Electronic Arts Text", "Poppins", "sans-serif";
}
main{
  background-color: #f3f3f3;
}
.container-ea-game{
  width: 85%;
  margin: auto;
  text-align: center;
  
}

.ea-game{
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  padding: 16px;
  line-height: 1.15;
  
}
.img-container-game{
  margin-bottom: 4%;
  position: relative;
  display: flex;
}
.img-container-game img{
  width: 100%;
  
}
.last-games{
  width: 100%;
  margin: auto;
  padding: 12px 24px;
  border: 2px solid #161616;
  border-radius: 3px;
}
 .overlay{
  background-color: hsla(0, 0%, 0%, 0.301);
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
 }
.name-container-game{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.name-container-game img{
  filter: drop-shadow(8px 7px 23px #000);
  width: 45%;
  position: relative;
}
#apex{
  width: 31%;
}
 #fifa23{
  width: 40%;
 }