@import url(//db.onlinewebfonts.com/c/48656eabd3fef6464367d956315c749a?family=Electronic+Arts+Text);
@import url(./componentsHeaderCss/hamburgerMenuCssHeader/haederShowHamburgerStyle.scss);

/* -- colori Elementi -- */
$nero: #161616;
$rosa: #ff4747;
$blue: #67b0d6;
$white: #ffffff;
$white1: #f3f3f3;
$white2: #eaeaea;


@font-face {
    font-family: "Electronic Arts Text";
    src: url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot")};

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -- NAVBAR 01 ------------------------ */

header .nav-01 {
    height: 35px;
    background-color: $nero;
    display: flex;
    justify-content: flex-end;
}

header .nav-01 .content-svg{
    display: flex;
}

header .nav-01 .icon-01 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
}

header .nav-01 .icon-margin {
    margin-right: 20px;
}

.content-svg svg:hover {
    color: $white2;
    width: 80px;
}

/* -- NAVBAR 02 ------------------------ */

.index-nav {
    display: flex;
    gap: 15px;
    height: 50px;
    background-color: $white;
    font-family: "Electronic Arts Text";
    font-size: 100%;
}

header .nav-02 {
    height: 50px;
    display: flex;
    overflow: hidden;
    background-color: $white;
    font-family: "Electronic Arts Text";
    margin-right: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.5s;
}

header .nav-02 .cotain01-nav-02 {
    margin-right: 10px;
    display: flex;
}

.box-01 {
    width: 60px;
    cursor: pointer
}

.box-01 .settings {
    position: relative;
    top: 14px;
    left: 10px;
}

.settings:hover {
    background-color: $rosa;
    transition: 0.3s;
    width: 30px;
}

.box-02 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./Images/assetsHaeder/ea-wordmark-network-nav-coral.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 190px;
    cursor: pointer;
}

header .nav-02 .cotain02-nav-02 {
    display: flex;
    gap: 30px;
    font-family: "Electronic Arts Text";
    color: $nero;
    align-items: center;
    justify-content: center;
    margin-left: 55px;
    cursor: pointer;
}

sup {
    font-size: 5px;
}


// dropList --------------------------------------------------

.dropbtn {
    background-color:$white;
    color: $nero;
    padding: 16px;
    font-size: 16px;
    border: none;
    height: 50px;
    display: flex;
    transition: 0.3s;
    cursor: pointer;

  }

  
.dropdown {
    position: relative;
    display: inline-block;
    transition: 0.3s;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 260px;
    background-color:  rgba(255, 255, 255, 0.9);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 2px;
    padding: 20px 10px;
    transition: 0.3s;
  }
  
.dropdown-content a {
    color: $nero;
    font-size: 90%;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    font-weight: 100;
    transition: 0.15s;
  }

.grid-contet-hover{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.contet-hover-02{
    display: flex;
    flex-direction: column;
}

.dropdown-content-01 {
    color: $nero;
    border-bottom: solid 1px grey;
  }
  
  .dropdown-content a:hover {
    color: $rosa;
    transition: 0.15s;
    
}
  
  .dropdown:hover .dropdown-content {
    display: block;
    transition: 0.3s;
    transition: .4s cubic-bezier(.5,.25,.015,1);
    transition-delay: .1s;
    transition-property: transform,opacity;
}
  
  .dropdown:hover .dropbtn {
    color: $rosa;
    transition: 0.3s;
  }

  .freccia:hover{
    transform: rotate(180deg);
    transition: 0.3s;
  }

/* Background-Image */

header .background-image {
    background-image: url(./Images/assetsHaeder/background-image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    // height: 390px;
    // position: relative;
    // bottom: 955px;
    z-index: -1;
}

.information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    overflow: hidden;
}
.information .box-grid-02 {
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Electronic Arts Text";
    color: $white;
}

sup {
    font-size: 20px;
}

header .background-image .information .box-grid-02 .div-h1 {
    font-size: 150%;
    font-weight: 100;
}

header .background-image .information .box-grid-02 .div-h2 {
    font-weight: 100;
    font-size: 100%;
    margin-top: 15px;
}

 /* -- BUTTON --------------------------------- */

header .background-image .information .box-grid-02 .div-button button{
    margin-top: 30px;
    width: 140px;
    height: 50px;
    color: $nero;
    background-color: $white;
    border-radius: 3px;
    border: none;
    letter-spacing: 0.3px;
    font-size: 95%;
}

// .tutto {
//     display: flex;
//     border: solid 1px red;
//     flex-direction: column-reverse;
// }

/* PROVA STICKY -------------------------- */

main div {
    height: 500px;
    border: solid 1px green;
}