/* -- colori Elementi -- */
$nero: #161616;
$rosa: #ff4747;
$blue: #67b0d6;
$white: #ffffff;
$page-bg: #f3f3f3;
$white2: #eaeaea;

@import url(//db.onlinewebfonts.com/c/48656eabd3fef6464367d956315c749a?family=Electronic+Arts+Text);

