

@use "style.scss" as s;
@import url(//db.onlinewebfonts.com/c/48656eabd3fef6464367d956315c749a?family=Electronic+Arts+Text);


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Electronic Arts Text", "Verdana", "Helvetica"," Arial", "sans-serif";
}

#ultimeNovità-container{
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
 
  #ultimeNovità-title{
    width: 100%;
    font-size: 25px;
    text-align: center;
    padding:35px;
    background-color: bisque;
  }
  
  #ultimeNovità-cardMenu{
    height: 50px;    
    border:1px solid red;    
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    position: relative;
    .ultimeNovità-menuButtons{
      background-color: red;
      border: none;
      color: rgba(22, 22, 22, 0.5);
      
      
    }
    :nth-child(2){
      position: absolute;
      right: 0;
    }
    .trigger{
      border:none;
      cursor: pointer;
      background: none;
      border: 1px solid transparent;
      padding: 0 15px;
      display: flex;
      flex-shrink: 0;
      align-items: center;

    }
  }
 .content{
  display: flex;
  flex-direction: column;
  gap: 16px;
    padding: 24px 16px;
    &:not(.visible){
      display: none;
    }
    .visible{
      display: block;
    }
    .cardUltimeNovità{
      padding: 16px;
      display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color:aqua;
   @media(min-width: 778px){
    padding: 0px;
    
    #unImage{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/fc-mural-mock-v11.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }#unImage2{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/phill-gdc-blog-lead-asset.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }#unImage3{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/logo-ea-sports-fc.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }#unImage4{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/image4.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }#unImage5{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/eacom-general-featured-image-16x9.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }#unImage6{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/f1-23-new-sportsperson-blog-featured-image-16x9.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }#unImage7{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/swjs-ea-play-pro-benefits-featured-img.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }#unImage8{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/ea-play-dec-content-drop-featured-image.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }#unImage9{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/eaplay-socialpost-spotlight-fifa21-16x9.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }#unImage10{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/ea-play-dec-content-drop-featured-image.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }#unImage11{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/ea-image-210316-game-pass-article-eaonlycore-16x9.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }#unImage12{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/ea-play-dec-content-drop-featured-image.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }#unImage13{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/ea-play-dec-content-drop-featured-image.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }#unImage14{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/pitchnotes-ucwl-nwsl.jpg.adapt.crop16x9.431p.jpgElectronicArts);
      background-position: center;
      background-size: cover;
    }#unImage15{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/ea-play-dec-content-drop-featured-image.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }#unImage16{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/ea-play-dec-content-drop-featured-image.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }#unImage17{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/ea-play-dec-content-drop-featured-image.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }#unImage18{
      width: 100%;
      height: 100px;
      background-image: url(./image-uN/ea-play-dec-content-drop-featured-image.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }

   }
  }
  @media(min-width: 778px) { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-image: url();
    }
    @media(min-width: 1028px){
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
}
}