

@import "style.scss" ;
@import url(//db.onlinewebfonts.com/c/48656eabd3fef6464367d956315c749a?family=Electronic+Arts+Text);


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Electronic Arts Text", "Verdana", "Helvetica"," Arial", "sans-serif";
}

#ultimeNovità-container{
  // border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
 
  .ultimeNovità-menuButtons{
    border: none;
    svg{
      opacity: 0.5;
      height: 30px;
      width: 30px;
    }
  }
  #prev{
    position: absolute;
    left: 0;
    top:107px;
    z-index: 2;
    background-color: $page-bg;
    height: 49px;
    box-shadow: 7px -2px 15px 2px #f3f3f3;
    // display: none;
  }
   
  }
  #next{
    position: absolute;
    right: 0;
    top:107px;
    background-color: $page-bg;
    height: 49px;
    z-index: 2;
    box-shadow: -7px 0px 15px 2px #f3f3f3
    
  }
 
  #ultimeNovità-title{
    width: 100%;
    font-size: 25px;
    text-align: center;
    padding:35px;
    // background-color: bisque;
  }
  
  
  #ultimeNovità-cardMenu{
    height: 50px;    
    border-bottom: 2px solid #e3e3e3;  
    background-color: $page-bg;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    position: relative;
    
    &::-webkit-scrollbar{
      display: none
    }
    .triggerContainer{
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      position: relative;
      cursor:pointer;
      &:hover{
        background-color: #dedede ;
      }
      &:focus{
        background-color: #dedede ;
        color:rgb(61, 61, 61);

        .triggerButtons__RedBar{
          display: inline-block;
          width: 80%;
          transition : width .1s ease-out;
          opacity: 1;
        }
      }
      .trigger{
        background:none;
        padding: 0 15px;
        border-right: 2px solid #dedede;
        
      }
      &:last-child > .trigger{
        border-right: none;
      }

      .triggerButtons__RedBar{
        width: 0px;
        
        margin: 0 auto;
        height: 1px;
        background-color: $rosa;
        position: absolute;
        // display: none;
        opacity: 0;
        top: 95%;
      }
    }
  }
    
    
  #ultimeNovità-cardContainer{
    width: 100%;
    min-height: min-content;
    background-color: $page-bg;
    position:relative;
    .content{
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 24px 16px;
        &:not(.visible){
          display: none;
        }
        .visible{
          display: block;
        }
        .cardUltimeNovità{
          padding:16px;
          display: flex;
      flex-direction: column;
      align-items: center;
      border: none;
      background-color:$page-bg;
      box-shadow: 0 3px 10px -2px #7d7d7d
      }
      @media(min-width: 778px) { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        }
    }
  }
 